body {
    background: none;
}
h1 {
    text-align: center;
}

h1 img {
    width: 50%;
    filter: drop-shadow(1px 1px 5px rgb(32, 108, 207));
}

.content {
    margin: 15px 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.content .card {
    text-align: center;
    margin: 20px;
}

.content .card:hover {
    cursor: pointer;
    /* box-shadow:0px 0px 10px rgb(32, 108, 207); */
    transform: scale(1.05);
    position: relative;
    z-index: 2;
    transition: transform 0.5s;
    box-shadow: 0 0 15px #1b3cf6;
    --bs-border-opacity: 1;
    /* border-color: rgba(var(--bs-secondary-rgb), var(--bs-border-opacity)) !important; */
}

.card-header {
    font-size: 1.5em;
    word-wrap: normal;
    color: black;
    box-shadow: 0 0 5px #9abde9;
    font-size: 16px;
}

.number_page {
    display: flex;
    justify-content: center;
    margin: 15px 30px;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.details {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details .card-title {
    margin-top: 30px;
    color: black;
}
h4 .card-title {
    color: black;
}

.border-info {
    background-color: rgba(252, 249, 249, 1);
    display: flex;
    flex-direction: row;
}

.border-info img {
    width: 300px;
}

.details i {
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 1.5em;
    cursor: pointer;
    color: black;
}

ul.card-text li {
    list-style-type: none;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 40px;
    color: black;
}

ul.card-text li span:first-child {
    color: #1ba2f6;
}

.page-item a:focus {
    box-shadow: none;
}

.row {
    display: flex;
    margin-left: 20px;
}

.row-item {
    padding: 10px;
    width: auto;
    flex-wrap: wrap;
}

.row-item a {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 3px 3px 10px #1ba2f6;
}

.showcard {
    display: flex;
    flex-direction: row;
}
a,
.page-link {
    color: black !important;
}
li.page-item.active {
    background: #1ba2f6 !important;
}

.pagination {
    --bs-pagination-active-bg: none;
    --bs-pagination-active-border-color: none;
}
